@page "/auth/signin"
@model LoginModel

@{
}
@{
    ViewData["Title"] = "Signin";
}
<div class="signin-row">
    <div class="signin-col-md-4">
        <section class="sign-in">
            <div class="signin-container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/images/auth/signin-image.jpg" alt="sing up image"></figure>
                        <a href="/auth/signup" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="signin-form-title">Sign in</h2>
                        <form method="POST" class="signin-register-form" id="login-form">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                            <div class="signin-form-group">
                                <label asp-for="Input.Email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input asp-for="Input.Email" class="signin-form-control" autocomplete="username" aria-required="true" placeholder="Your Email" />
                            </div>

                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                            <div class="signin-form-group">
                                <label asp-for="Input.Password"><i class="zmdi zmdi-lock"></i></label>
                                <input asp-for="Input.Password" class="signin-form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
                            </div>

                            <div class="signin-form-group">
                                <input asp-for="Input.RememberMe" type="checkbox" class="signin-agree-term" />
                                
                                <label asp-for="Input.RememberMe" class="signin-label-agree-term"><span><span></span></span>@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
                           
                            </div>

                            <div class="signin-form-group">
                                <a href="/auth/forgot-password" class="signin-link-left-dark signin-text-sm">Forgot your password?</a>
                            </div>
                            <div class="signin-form-group signin-form-button">
                                <input type="submit" name="signin" id="signin" class="signin-form-submit" value="Log in" />
                            </div>

                        </form>
                        <hr />
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {

                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins!)
                                            {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                        <div class="signin-social-login">
                            <span class="signin-social-label">Or login with</span>
                            <ul class="signin-socials">
                                <li><a href="#"><i class="signin-display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="signin-display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="signin-display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
